<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stique.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BA967B11C98CBE700EDC126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA967C51C98CBFF00EDC126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA967D01C98CC0000EDC126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
